body{
    background-color:#8A9A5B;
    color: black;
}
.HeaderA{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    /*background-color:#808000 ; */
}

.Logo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover; /*evita que estire la img*/
}

/*Damos estilos al nuestro formulario*/
form{
    background-color: rgb(255, 255, 255, 0.95);
    margin: 50px auto;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 450px; 
    box-sizing: border-box;
    display: grid; /*le da un toque mas condigurado*/
    /*grid-template-columns: 120px 1fr; */
    gap: 10px; 
    align-items: center;
    
    
}

input[type="text"], input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input:focus{
    border-color: red;
    outline: none;

}

body > a {
    color: white; /* Blancos para que resalten sobre el fondo verde oliva */
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    margin-top: 10px;
}

body > a:hover {
    text-decoration: underline; /* Se subraya al pasar el mouse */
}

/*veri*/
.rv{
    display: flex;
    justify-content: space-between; /* Uno a la izquierda y otro a la derecha */
    margin-top: 25px;               /* Los separa un poco del botón */
}

.rv a {
    color: #808000;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    
}

.rv a:hover {
    text-decoration: underline; /* Se subraya al pasar el cursor */
}