.Logo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover; /*evita que estire la img*/
}
.tabla-imagenes {
    width: 100%;             
    max-width: 900px;        
    margin: 30px auto;       
    border-collapse: collapse; 
}

/* Estilo para cada celda que guarda la foto y el texto */
.tabla-imagenes td {
    padding: 15px;           
    text-align: center;      
    vertical-align: top;     
}

/* Control del tamaño de tus imágenes */
.tabla-imagenes img {
    width: 100%;            
    max-width: 250px;        
    height: 180px;          
    object-fit: cover;       
    border-radius: 8px;      
}

/* Estilo para las descripciones de abajo */
.tabla-imagenes p {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    margin-top: 8px;         
}
