.body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.superior{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5%;
    background-color: #15412a; /*Color aproximado al verde del logo*/
    color: white;
}
.LogoRecortado img{
    width: 120px;
    height: auto;
    border-radius: 5px;
    object-fit: contain;
    transition: transform 0.3s ease;
}
