.img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5%;
    background-color: #15412a; /*Color aproximado al verde del logo*/
    color: white;
  
  
}
