body{
    /*background-color: beige;
    color: black;*/
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif; 
    background-color: #f9f9f9; 
    color: #333333; 
}

/* Estilos para el header*/
.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}
.Logo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover; /*evita que estire la img*/
}
.Header nav ul{
    display: flex;
    list-style: none;
    gap: 20px;  
}

.Header a{
    text-decoration: none;
    color: black;
}

/* Estilos para el main*/
main{
    display: flex;
    justify-content: center; 
    align-items: center;    
    min-height: 70vh;        
    padding: 40px 20px; 
}

.Memsaje {
    max-width: 800px;       
    text-align: center;     
    background-color: #ffffff; 
    padding: 40px;           
    border-radius: 10px;     
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);  
}

/* El título principal (H1) */
.Memsaje h1 {
    color: #1a1a1a;          
    font-size: 2.5rem;       
    margin-bottom: 20px;     
}

/* El párrafo */
.Memsaje p {
    font-size: 1.15rem;      
    line-height: 1.8;        
    color: #555555;          
    margin: 0;
}


/*Estilos pie de pagina*/
footer{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}

.Redes{
    margin-top: 15px;
    font-display: flex;
    justify-content: center;
    gap: 20px; /*deja un espacion entre los iconos*/
}
.Redes img{
    width: 40px;
    height: 40px;
}